body {
    background-image: url('./images/introscreen.png');
    background-size: cover;
}

.bulbasaur-home {
    background-image: url('./images/bulbasaur.png');
    background-size: cover;
    height: 300px;
    width: 80px;
    justify-content: center;
}

.intro-message-container {
    height: 50px;
    width: 60px;
    background-color: white;
    border-radius: 25px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
}

.intro-message {
    font-family: 'Manuale', serif;
    vertical-align: center;
    font-size: 25px;
    padding: 6px;
}

.home-message {
    font-family: 'Manuale', serif;
    vertical-align: center;
    font-size: 19.5px;
    padding: 2px;
}

.button, .header {
    font-family: 'Manuale', serif;
    height: 65px;
    background-color: white;
    border-radius: 25px;
    margin-top: 75px;
    font-size: 35px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
}

.intro-click {
    color: black;
}

.header {
    height: 75px;
    font-size: 30px;
    vertical-align: center;
    padding: 10px;
    margin-top: 25px;
    border-radius: 25px;
}

.garden-header-content, .goal-header-content {
    font-size: 23px;
}

.timer-header-content {
    font-size: 20px;
    padding: 4px;
}

.button-home, .button-home-timer {
    font-family: 'Manuale', serif;
    height: 65px;
    background-color: white;
    border-radius: 25px;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
    padding: 5px;
}

.home-message-container {
    height: 100px;
    width: 175px;
    background-color: white;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
}

.home-image {
    background-image: url('./images/bulbasaur-home.png');
    background-size: contain;
    height: 170px;
    width: 190px;
}

.return-home {
    color: black;
    font-size: 25px;
    padding: 7px;
    font-family: 'Manuale', serif;
}

.return-home-button {
    height: 50x;
    width: 85px;
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 35px;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
}

.checkbox{
    max-height: 400px;
    max-width: 30px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
}
.checkmark{
 background-image: url( "http://csscheckbox.com/checkboxes/lite-x-red.png")
}

.timer-container {
    height: 150px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    margin-top: 60px;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.91;
}

.button-start-timer {
    font-family: 'Manuale', serif;
    height: 65px;
    background-color: white;
    border-radius: 25px;
    font-size: 25px;
    padding: 6px;
    margin-top: 60px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
    width: 150px;
}

.stop-timer {
    margin-left: 20px;
}

.timer-message-container {
    height: 110px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    margin-top: 70px;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
}


.goal-input{
    height: 45px;
    width: 80%;
    float: right;
    font-size: 25px;
    background-color: white;
    font-family: 'Manuale', serif;
    color: black;
}

.goals-container {
    height: 600px;
    width: 350px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 5px;
    /* box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    background-color: white; */
    opacity: 0.95;
    justify-content: center;
}

.goals-item {
    height: 120px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    border: 2px solid black;
}

.water-reminder {
    font-size: 20px;
    font-family: 'Manuale', serif;
    display: block;
    text-align: center;
    padding: 4px;
}

.timer-display {
    font-size: 85px;
    text-align: center;
    margin-left: 5px;

}

.slidecontainer {
    position: relative;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 2px;
    margin-left: 35px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 20px;
    cursor: pointer;
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
    justify-content: center;
    background-image: url('./images/bulbasaur-home.png');
}

.goal-plant-empty{
    background-size: cover;
    height: 25px;
    width: 10%;
    justify-content: center;
    /* background-image: url('./images/vine-plant.png'); */
}

.goal-plant-full{
    background-size: cover;
    height: 25px;
    width: 10%;
    justify-content: center;
    /* background-image: url('./images/bonxai-tree.png'); */
}
