.title-screen {
    background-image: url('./images/introscreen.png');
    background-size: cover;
    height: 812px;
    width: 375px;
}

.add-goal-screen, .home-screen, .goals-screen, .timer-screen, .garden-screen, .goal-details-screen, .plant-details-screen {
    height: 812px;
    width: 375px;
    background-image: linear-gradient(-145deg, white, rgb(138, 219, 138));

}

.bulbasaur-home {
    background-image: url('./images/bulbasaur.png');
    background-size: cover;
    height: 300px;
    width: 80px;
    justify-content: center;
}

.intro-message-container {
    height: 50px;
    width: 60px;
    background-color: white;
    border-radius: 25px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
}

.intro-message {
    font-family: 'Manuale', serif;
    vertical-align: center;
    font-size: 25px;
    padding: 6px;
}

.home-message {
    font-family: 'Manuale', serif;
    vertical-align: center;
    font-size: 19.5px;
    padding: 2px;
}

.button, .header {
    font-family: 'Manuale', serif;
    height: 65px;
    background-color: white;
    border-radius: 25px;
    margin-top: 75px;
    font-size: 35px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
}

.goal-input, .description-input {
    font-family: 'Manuale', serif;
    height: 50px;
    background-color: white;
    border-radius: 25px;
    font-size: 20px;
    text-align: left;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
    margin-left: 5px;
}

.description-input {
    height: 80px;
    padding-top:0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
    text-align: left;
}

.intro-click {
    color: black;
}

.header {
    height: 75px;
    font-size: 30px;
    vertical-align: center;
    padding: 10px;
    margin-top: 25px;
    border-radius: 25px;
}

.garden-header-content, .goal-header-content {
    font-size: 23px;
}

.timer-header-content {
    font-size: 20px;
    padding: 4px;
}

.button-home, .button-home-timer {
    font-family: 'Manuale', serif;
    height: 65px;
    background-color: white;
    border-radius: 25px;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
    padding: 5px;
}

.home-message-container {
    height: 100px;
    width: 175px;
    background-color: white;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
}

.home-image {
    background-image: url('./images/bulbasaur-home.png');
    background-size: contain;
    height: 170px;
    width: 190px;
}

.return-home {
    color: black;
    font-size: 25px;
    padding: 7px;
    font-family: 'Manuale', serif;
}

.return-home-button {
    height: 50x;
    width: 85px;
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 35px;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
}

.timer-container {
    height: 120px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    margin-top: 60px;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.91;
}

.button-start-timer, .button-reset-timer {
    font-family: 'Manuale', serif;
    height: 65px;
    background-color: white;
    border-radius: 25px;
    font-size: 30px;
    padding: 6px;
    margin: 5px;
    margin-top: 60px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
    width: 150px;
}

.stop-timer {
    margin-left: 20px;
}

.timer-message-container {
    height: 110px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    margin-top: 70px;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
}

.water-reminder {
    font-size: 20px;
    font-family: 'Manuale', serif;
    display: block;
    text-align: center;
    padding: 4px;
}

.timer-display {
    font-size: 70px;
    vertical-align: center;
}

.input-title {
    font-family: 'Manuale', serif;
    font-size: 24px;
    display: block;
    margin: 10px;
}

.goal-detail-info {
    font-family: 'Manuale', serif;
    height: 45px;
    background-color: white;
    border-radius: 25px;
    font-size: 20px;
    text-align: left;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
}
.plantImg {
    background-image: url("./images/aloe-plant.png");
    height: 200px;
    width: 200px;
    background-size: cover;
    margin: auto;
    margin-top: 100px;
}
.back-container .back-button{
    padding: 15px;
    font-size: 20px;
}
.info-container {
    text-align: center;
    margin-top: 30px;
}
.succulent-icon-container,.date-container,.goal-origin-container {
    background-color: white;
}
