body {
    background-image: url('./images/introscreen.png');
    background-size: cover;
}

.bulbasaur-home {
    background-image: url('./images/bulbasaur.png');
    background-size: cover;
    height: 300px;
    width: 80px;
    justify-content: center;
}

.intro-message-container {
    height: 50px;
    width: 60px;
    background-color: white;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
}

.intro-message {
    font-family: 'Manuale', serif;
    vertical-align: center;
    font-size: 25px;
    padding: 6px;
}

.button, .header {
    font-family: 'Manuale', serif;
    height: 65px;
    background-color: white;
    border-radius: 15px;
    margin-top: 75px;
    font-size: 35px;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
}

.header {
    height: 75px;
    font-size: 30px;
    vertical-align: center;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    opacity: 0.95;
}

.garden-header-content, .goal-header-content {
    font-size: 25px;
}

.timer-header-content {
    font-size: 23px;
}
